body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  font-size: 38px;
  font-family: "Mulish", sans-serif;
  font-weight: 100px;
  line-height: 29px;
  margin-bottom: 10px;
  padding-left: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.currentList {
  padding-left: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 18px;
}
.currentListMore {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
}
a {
  text-decoration: none;
}
.weatherWrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather {
  position: relative;
  margin: 10% auto 0;
  width: 90%;
  padding: 20px;
  height: 400px;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}
.border::before,
.border::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #e6fb04,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.border::after {
  filter: blur(40px);
}
.overview {
  margin-bottom: 15px;
}
.weather-temp {
  text-align: center;
}
.weather-temp img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temp strong {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
#temperature {
  color: white;
}
p {
  color: white;
  font-size: 12px;
  text-align: right;
  position: relative;
  right: 48px;
  bottom: 27px;
}
.button {
  font-size: 24px;
  font-family: "Mulish", sans-serif;
  color: #ff00cc;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  text-align: left;
}
#city-input {
  background-color: transparent;
  border: 1px solid white;
  font-family: "Mulish", sans-serif;
  height: 30px;
}
#city-input:hover {
  background-color: white;
  color: #ff0099;
}
.weather-forecast {
  color: white;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temp {
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
.col-9 {
  padding-right: 0px;
  padding-bottom: 10px;
}
.col-3 {
  padding-right: 10px;
  padding-left: 0px;
}
.col-6 {
  text-align: center;
  color: white;
}
.currentDateTime {
  position: relative;
  top: 5px;
  left: 20px;
}
#current-description {
  position: relative;
  top: 7px;
  left: 30px;
}
#icon {
  position: relative;
  right: -35px;
  top: 15px;
}
.units {
  position: relative;
  right: -22px;
  top: 13px;
}
#temperature {
  position: relative;
  right: -25px;
  top: 10px;
}
#forecast.weather-forecast {
  position: relative;
  top: 26px;
}
